---
// import { Toaster } from "@/components/ui/sonner";
import "../styles/global.css";
import DashboardSidebar from "@/components/sidebar";
import { navItems } from "@/lib/utils/NavItems";
import { ClientRouter } from "astro:transitions";
import { CONSTANTS } from "@/lib/utils/constants";

interface Props {
  title: string;
}

const { title = "admin" } = Astro.props;

const { pathname } = Astro.url;

// Check if user is authenticated
if (!Astro.locals.user) {
  Astro.cookies.delete(CONSTANTS.ACCESS_TOKEN_KEY);
  Astro.cookies.delete(CONSTANTS.REFRESH_TOKEN_KEY);
  Astro.cookies.delete(CONSTANTS.USER);
  return Astro.redirect('/auth');
}

const currentUser = Astro.locals.user;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Rubik+Mono+One&family=Varela+Round&family=Yatra+One&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  
  </head>
  <body>
 
   
    <DashboardSidebar
      client:load
      pathname={pathname}
      navItems={navItems}
      user={currentUser}
    >
      <slot />
    </DashboardSidebar>
    <!-- <Toaster client:load /> -->
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Outfit", serif;
  }
  * {
    margin: 0;

    box-sizing: border-box;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
